@model IEnumerable<PresentationLayer2.Models.MachineViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Machinetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machinename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machinedescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Machinetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machinename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machinedescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
